$color-white: #ffffff;
$color-grey-1: #eeeeee;
$color-grey-2: #f9f9f9;
$color-grey-3: #888888;
$color-grey-4: #666666;
$color-grey-5: #393939;
$color-grey-6: #d4d4d4;
$color-black: #181818;

$color-green: #01807f;
$color-orange: #ed4b08;
$color-orange-fade: #fde2d8;
$color-yellow: #f9bb2a;
$color-red: #CE373F;

$tablet: 768px;
$desktop: 1440px;
$desktop-xl: 1868px;
$totals-bottom-width: 120.6rem;

@font-face {
  font-family: "Soleto";
  src: url("https://www.vizientinc.com/_next/static/media/soleto-regular.8b65463b.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Soleto Medium";
  src: url("https://www.vizientinc.com/_next/static/media/soleto-medium.8b728a0c.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Soleto Bold";
  src: url("https://www.vizientinc.com/_next/static/media/soleto-bold.c0b03561.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Soleto", sans-serif;
  background-color: $color-white;
  color: $color-black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: $desktop-xl;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 2rem;
}

.header {
  border-top: 5rem solid $color-black;
  border-bottom: 1px solid $color-grey-1;
  padding: 1.8rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    max-width: 33vw;
  }

  @media screen and (min-width: $desktop) {
    border-top: none;
  }
}

.header-restart {
  background-color: transparent;
  border: 2px solid $color-black;
  border-radius: 1.9rem;
  padding: .8rem 1.2rem;
  font-family: "Soleto Bold", sans-serif;
  font-size: 1.4rem;
  line-height: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color .2s ease;

  &::before {
    content: '';
    width: 1.4rem;
    height: 1.6rem;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.01671 16C6.04216 16 5.12934 15.8152 4.27824 15.4456C3.42714 15.076 2.68649 14.5767 2.05628 13.9478C1.42608 13.3188 0.925815 12.5796 0.555489 11.7302C0.185163 10.8808 0 9.96975 0 8.99713C0 8.02451 0.185163 7.11349 0.555489 6.26407C0.925815 5.41464 1.42608 4.67545 2.05628 4.04649C2.68649 3.41753 3.42714 2.91825 4.27824 2.54866C5.12934 2.17906 6.04216 1.99426 7.01671 1.99426H7.13365L6.47096 1.33288C6.32803 1.19023 6.25656 1.01191 6.25656 0.797938C6.25656 0.583961 6.32803 0.399164 6.47096 0.243544C6.62689 0.0879249 6.81205 0.00687319 7.02645 0.000389048C7.24085 -0.00609509 7.42601 0.0684725 7.58194 0.224092L9.5895 2.22769C9.73243 2.37034 9.8039 2.5519 9.8039 2.77236C9.8039 2.99282 9.73243 3.17437 9.5895 3.31703L7.58194 5.32062C7.42601 5.47624 7.24085 5.55081 7.02645 5.54433C6.81205 5.53784 6.62689 5.45679 6.47096 5.30117C6.32803 5.14555 6.25656 4.96075 6.25656 4.74678C6.25656 4.5328 6.32803 4.35449 6.47096 4.21184L7.13365 3.55045H7.01671C5.49642 3.55045 4.20678 4.07891 3.14777 5.13583C2.08877 6.19274 1.55927 7.47984 1.55927 8.99713C1.55927 10.5144 2.08877 11.8015 3.14777 12.8584C4.20678 13.9153 5.49642 14.4438 7.01671 14.4438C8.39406 14.4438 9.596 13.9964 10.6225 13.1016C11.649 12.2068 12.2532 11.0785 12.4352 9.71687C12.4612 9.50938 12.5521 9.33755 12.708 9.20138C12.864 9.06521 13.0459 8.99713 13.2538 8.99713C13.4617 8.99713 13.6436 9.06197 13.7995 9.19165C13.9554 9.32134 14.0204 9.48344 13.9944 9.67797C13.8125 11.4806 13.0589 12.9849 11.7335 14.1909C10.4081 15.397 8.83585 16 7.01671 16Z' fill='%23181818'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 0.6rem;
  }

  &:hover {
    background-color: $color-grey-1;
  }
}

.header-totals {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.4rem;
  line-height: 1;
  font-family: "Soleto Bold", sans-serif;

  .navbutton {
    font-size: 1.4rem;
    padding: .8rem 1.6rem;
  }
}

.footer {
  background-color: $color-grey-5;
  color: $color-white;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: center;
  padding-block: .8rem;
  margin-top: auto;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  @media screen and (min-width: $desktop) {
    text-align: right;
  }
}

.content-wrapper {
  @media screen and (min-width: $desktop) {
    flex: 1;
    display: flex;
  }
}

.intro-wrapper {
  @media screen and (min-width: $desktop) {
    display: grid;
    gap: 11.1rem;
    grid-template-columns: 43.3rem auto;
    padding: clamp(5rem, 9vh, 16.8rem) 4.8rem clamp(5rem, 9vh, 16.8rem) 0;
  }
}

.intro {
  margin-bottom: 1.4rem;

  h1 {
    margin-block: 3.2rem 1.6rem;
    font-family: "Soleto Bold", sans-serif;
    font-size: 3.6rem;
    line-height: 4.4rem;
    letter-spacing: -0.02em;
    text-wrap: balance;
  }

  p {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  @media screen and (min-width: $desktop) {
    h1 {
      margin-top: 0;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.survey-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.6rem;
  margin-bottom: 3.2rem;

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    margin-bottom: 0;
  }
}

.survey-card {
  background: $color-grey-1;
  padding: 2.4rem;
  cursor: pointer;
  font-size: 1.8rem;
  line-height: 1.4;
  min-height: 19.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  transition: all .3s ease-in-out;
  border: none;
  text-align: left;

  .survey-title {
    font-family: "Soleto Bold", sans-serif;
    font-size: 1.8rem;
    line-height: 1.4;
    margin: 0 0;
  }

  .survey-subtitle {
    font-family: "Soleto", sans-serif;
    margin: 0 0;
  }

  .status {
    display: inline-block;
    margin-bottom: .5rem;
  }

  .survey-card-bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;

    .status-tag {
      background-color: $color-green;
      color: $color-white;
      display: inline-block;
      padding: .2rem .6rem;
      font-size: 1.2rem;
      border-radius: .3rem;
    }

    &::after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 15.7071C-0.0976311 15.3166 -0.0976312 14.6834 0.292893 14.2929L6.58579 8L0.292893 1.70711C-0.0976317 1.31658 -0.0976318 0.683417 0.292893 0.292893C0.683417 -0.0976315 1.31658 -0.0976315 1.70711 0.292893L8.70711 7.29289C9.09763 7.68342 9.09763 8.31658 8.70711 8.70711L1.70711 15.7071C1.31658 16.0976 0.683418 16.0976 0.292893 15.7071Z' fill='%23ED4B08'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      margin-left: auto;
    }

    &.survey-card-bottom-completed {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 15.7071C-0.0976311 15.3166 -0.0976312 14.6834 0.292893 14.2929L6.58579 8L0.292893 1.70711C-0.0976317 1.31658 -0.0976318 0.683417 0.292893 0.292893C0.683417 -0.0976315 1.31658 -0.0976315 1.70711 0.292893L8.70711 7.29289C9.09763 7.68342 9.09763 8.31658 8.70711 8.70711L1.70711 15.7071C1.31658 16.0976 0.683418 16.0976 0.292893 15.7071Z' fill='%23181818'/%3E%3C/svg%3E ");
      }
    }
  }

  &:hover {
    transform: translateY(-3px);
  }
}

.status {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='22' viewBox='0 0 18 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 15.05C18 15.4166 17.9125 15.75 17.7375 16.05C17.5625 16.35 17.3167 16.5916 17 16.775L10 20.825C9.68334 21.0083 9.35 21.1 9 21.1C8.65 21.1 8.31667 21.0083 8 20.825L1 16.775C0.683337 16.5916 0.437504 16.35 0.262504 16.05C0.0875036 15.75 3.56627e-06 15.4166 3.55024e-06 15.05L3.19618e-06 6.94998C3.18015e-06 6.58331 0.0875032 6.24998 0.262503 5.94998C0.437503 5.64997 0.683336 5.40831 1 5.22498L8 1.17497C8.31667 0.991642 8.65 0.899974 9 0.899974C9.35 0.899974 9.68334 0.991642 10 1.17497L17 5.22497C17.3167 5.40831 17.5625 5.64997 17.7375 5.94997C17.9125 6.24997 18 6.58331 18 6.94997L18 15.05Z' fill='%23ED4B08'/%3E%3C/svg%3E%0A");
  display: inline-block;
  width: 1.8rem;
  height: 2.1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $color-grey-1;

  &.status-completed {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='22' viewBox='0 0 18 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 15.05C18 15.4166 17.9125 15.75 17.7375 16.05C17.5625 16.35 17.3167 16.5916 17 16.775L10 20.825C9.68334 21.0083 9.35 21.1 9 21.1C8.65 21.1 8.31667 21.0083 8 20.825L1 16.775C0.683337 16.5916 0.437504 16.35 0.262504 16.05C0.0875036 15.75 3.56627e-06 15.4166 3.55024e-06 15.05L3.19618e-06 6.94998C3.18015e-06 6.58331 0.0875032 6.24998 0.262503 5.94998C0.437503 5.64997 0.683336 5.40831 1 5.22498L8 1.17497C8.31667 0.991642 8.65 0.899974 9 0.899974C9.35 0.899974 9.68334 0.991642 10 1.17497L17 5.22497C17.3167 5.40831 17.5625 5.64997 17.7375 5.94997C17.9125 6.24997 18 6.58331 18 6.94997L18 15.05Z' fill='%2301807F'/%3E%3C/svg%3E%0A");
  }
}

.survey-question-wrapper {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.survey-pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  margin: 0 0;
  gap: .4rem;

  li {
    display: inline-block;
    width: 3.2rem;
    height: .3rem;
    background-color: $color-grey-3;

    &.active {
      background-color: $color-orange;
    }
  }

  @media screen and (min-width: $desktop) {
    flex: 0 0 9.6rem;
    flex-direction: column;
    padding-right: 9.3rem;
    align-self: stretch;

    li {
      width: 0.3rem;
      height: 3.2rem;
    }
  }
}

.survey-question {
  .question-survey-title {
    background-color: $color-orange-fade;
    display: inline-block;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.8rem;
    font-family: "Soleto Bold", sans-serif;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
  }

  .question-text {
    font-size: 3rem;
    line-height: 3.8rem;
    font-family: "Soleto Bold", sans-serif;
    margin-top: 0;
    margin-bottom: .4rem;

    ul {
      font-size: 2rem;
      margin: 0 0;
    }
  }

  .options {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 2rem;

    li {
      margin-bottom: 0.5rem;

      .option-btn {
        width: 100%;
        padding: 0.75rem 0;
        background: transparent;
        border: none;
        font-size: 1.6rem;
        line-height: 1.5;
        text-align: left;
        cursor: pointer;
        display: flex;
        gap: 1.2rem;
        font-family: "Soleto", sans-serif;

        &::before {
          content: '';
          display: inline-block;
          width: 2rem;
          height: 2rem;
          flex: 0 0 2rem;
          border-radius: 2rem;
          border: 2px solid $color-black;
          margin-top: 0.5rem;
        }

        &:hover {
          text-decoration: underline;
        }

        &.selected {
          &::before {
            border-color: $color-orange;
            background-color: $color-orange;
            box-shadow: inset 0 0 0 2px $color-white;
          }
        }
      }
    }
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc(50% - 9.6rem);
    align-self: stretch;
    padding-right: 7.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-right: 1px solid $color-grey-1;

    .question-text {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 2rem 0 3.2rem;

  &.small-widebuttons {
    flex-direction: column;
    justify-content: center;
    .navbutton {
      flex: 0 0 100%;
      justify-content: center;
    }
  }

  @media screen and (min-width: $desktop) {
    align-self: stretch;

    &.small-widebuttons {
      flex-direction: row;
      justify-content: flex-start;
      .navbutton {
        flex: 0 0 auto;
      }
    }
  }
}

.navbutton {
  padding: 1.6rem 3rem;
  font-size: 1.6rem;
  line-height: 1;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  color: $color-black;
  transition: background-color 0.2s ease;
  font-family: "Soleto Medium", sans-serif;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;

  &.button-prev {
    background-color: $color-white;
    box-shadow: inset 0 0 0 2px $color-black;
    &:not([disabled]):hover {
      box-shadow: inset 0 0 0 4px $color-black;
    }
    &::before {
      content: '';
      width: 0.9rem;
      height: 1.6rem;
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.70711 0.292893C9.09763 0.683417 9.09763 1.31658 8.70711 1.70711L2.41421 8L8.70711 14.2929C9.09763 14.6834 9.09763 15.3166 8.70711 15.7071C8.31658 16.0976 7.68342 16.0976 7.29289 15.7071L0.292894 8.70711C-0.0976312 8.31658 -0.0976312 7.68342 0.292894 7.29289L7.29289 0.292893C7.68342 -0.0976311 8.31658 -0.097631 8.70711 0.292893Z' fill='%23181818'/%3E%3C/svg%3E ");
      background-size: contain;
    }
  }

  &.button-next {
    background-color: $color-yellow;
    &::after {
      content: '';
      width: 0.9rem;
      height: 1.6rem;
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292894 15.7071C-0.0976305 15.3166 -0.0976305 14.6834 0.292894 14.2929L6.58579 8L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292894C0.683417 -0.0976312 1.31658 -0.0976312 1.70711 0.292894L8.70711 7.29289C9.09763 7.68342 9.09763 8.31658 8.70711 8.70711L1.70711 15.7071C1.31658 16.0976 0.683418 16.0976 0.292894 15.7071Z' fill='%23181818'/%3E%3C/svg%3E ");
      background-size: contain;
    }
    &:not([disabled]):hover {
      box-shadow: inset 0 0 0 2px $color-black;
    }
  }

  &.button-solid-yellow {
    background-color: $color-yellow;
    &:not([disabled]):hover {
      box-shadow: inset 0 0 0 2px $color-black;
    }
  }

  &.button-taa {
    background-color: $color-white;
    box-shadow: inset 0 0 0 2px $color-black;
    &:not([disabled]):hover {
      box-shadow: inset 0 0 0 4px $color-black;
    }
    &::before {
      content: '';
      width: 2rem;
      height: 1.6rem;
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00918 1.54174C6.3568 1.16096 6.32555 0.580164 5.93887 0.237843C5.55219 -0.104478 4.96241 -0.0737073 4.61478 0.307077L2.46656 2.65717L1.60336 1.80714C1.23621 1.44943 0.642515 1.44943 0.275364 1.80714C-0.0917879 2.16484 -0.0917879 2.75333 0.275364 3.11103L1.83771 4.64956C2.02129 4.83033 2.26736 4.92649 2.52514 4.9188C2.78293 4.9111 3.0251 4.80341 3.19695 4.61494L6.00918 1.53789V1.54174ZM6.00918 7.69583C6.3568 7.31504 6.32555 6.73425 5.93887 6.39193C5.55219 6.04961 4.96241 6.08038 4.61478 6.46116L2.46656 8.81126L1.60336 7.96122C1.23621 7.59967 0.642515 7.59967 0.27927 7.96122C-0.0839762 8.32278 -0.087882 8.90741 0.27927 9.26512L1.84162 10.8036C2.02519 10.9844 2.27126 11.0806 2.52905 11.0729C2.78684 11.0652 3.029 10.9575 3.20086 10.769L6.01308 7.69198L6.00918 7.69583ZM8.43863 3.38412H19.0626C19.5821 3.38412 20 2.97257 20 2.46101C20 1.94945 19.5821 1.53789 19.0626 1.53789H8.43863C7.91915 1.53789 7.50122 1.94945 7.50122 2.46101C7.50122 2.97257 7.91915 3.38412 8.43863 3.38412ZM7.50122 8.6151C7.50122 9.12665 7.91915 9.53821 8.43863 9.53821H19.0626C19.5821 9.53821 20 9.12665 20 8.6151C20 8.10354 19.5821 7.69198 19.0626 7.69198H8.43863C7.91915 7.69198 7.50122 8.10354 7.50122 8.6151ZM6.25134 14.7692C6.25134 15.2807 6.66927 15.6923 7.18875 15.6923H19.0626C19.5821 15.6923 20 15.2807 20 14.7692C20 14.2576 19.5821 13.8461 19.0626 13.8461H7.18875C6.66927 13.8461 6.25134 14.2576 6.25134 14.7692ZM3.75159 14.7692C3.75159 14.4427 3.6199 14.1297 3.38551 13.8989C3.15111 13.668 2.8332 13.5384 2.50171 13.5384C2.17022 13.5384 1.85231 13.668 1.61791 13.8989C1.38351 14.1297 1.25183 14.4427 1.25183 14.7692C1.25183 15.0956 1.38351 15.4087 1.61791 15.6395C1.85231 15.8703 2.17022 16 2.50171 16C2.8332 16 3.15111 15.8703 3.38551 15.6395C3.6199 15.4087 3.75159 15.0956 3.75159 14.7692Z' fill='black'/%3E%3C/svg%3E%0A");
      background-size: contain;
    }
  }

  &[disabled] {
    pointer-events: none;
    background-color: $color-grey-1;
  }
}

.survey-results-wrapper {
  width: 100%;  
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $desktop) {
    flex-direction: row;

    .hexagon {
      order: 10;
      flex: 0 0 50%;
    }
  }
}

.survey-results {
  .icon-sign {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
  
    &.trailing {
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.29403 13.707C5.6845 14.0977 6.31862 14.0977 6.7091 13.707L11.7071 8.70674C12.0976 8.31609 12.0976 7.68168 11.7071 7.29103C11.3167 6.90038 10.6825 6.90038 10.2921 7.29103L6.99961 10.5881V1.00006C6.99961 0.4469 6.55291 0 6 0C5.44709 0 5.00039 0.4469 5.00039 1.00006V10.585L1.70793 7.29416C1.31745 6.90351 0.683327 6.90351 0.292854 7.29416C-0.0976181 7.6848 -0.0976181 8.31921 0.292854 8.70986L5.2909 13.7101L5.29403 13.707Z' fill='%23ED4B08'/%3E%3C/svg%3E");
      width: 1.2rem;
      height: 1.4rem;
    }
  
    &.emerging {
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.70598 0.292985C6.3155 -0.0976617 5.68138 -0.0976617 5.2909 0.292985L0.292854 5.29326C-0.0976181 5.68391 -0.0976181 6.31832 0.292854 6.70897C0.683327 7.09961 1.31745 7.09961 1.70793 6.70897L5.00039 3.41191L5.00039 12.9999C5.00039 13.5531 5.44709 14 6 14C6.55291 14 6.99961 13.5531 6.99961 12.9999L6.99961 3.41503L10.2921 6.70584C10.6825 7.09649 11.3167 7.09649 11.7071 6.70584C12.0976 6.3152 12.0976 5.68079 11.7071 5.29014L6.7091 0.289859L6.70598 0.292985Z' fill='%232D8150'/%3E%3C/svg%3E");
      width: 1.2rem;
      height: 1.4rem;
    }
  
    &.hp {
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0312 6.26758L10.1445 6.61133H15.4473L11.4551 9.48242L11.1572 9.69629L11.2715 10.0449L12.7988 14.6982L8.79199 11.8174L8.5 11.6074L8.20801 11.8174L4.2002 14.6982L5.72852 10.0449L5.84277 9.69629L5.54492 9.48242L1.55273 6.61133H6.85547L6.96875 6.26758L8.5 1.60156L10.0312 6.26758Z' fill='%23F9BB2A' stroke='%23181818'/%3E%3C/svg%3E");
      width: 1.7rem;
      height: 1.4rem;
    }
  }

  .results-legend {
    display: inline-block;
    background-color: $color-grey-2;
    padding: 0 1rem;
    display: flex;
    gap: .5rem;
    justify-content: flex-start;
    list-style: none;
    margin: 0 0;

    li {
      display: flex;
      gap: .5rem;
      padding: 1.3rem .5rem;
      font-size: 1.2rem;
    }
  }

  h1 {
    font-family: "Soleto Bold", sans-serif;
    font-size: 3.2rem;
    line-height: 3.6rem;

    @media screen and (min-width: $desktop) {
      font-size: 3.6rem;
      line-height: 4.4rem;
    }
  }

  h2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid $color-grey-1;
  }

  .answers-list {
    list-style: none;
    padding: 0;
  }

  .answers-list-item {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    .icon-sign {
      flex: 0 0 2rem;
      margin-top: 0.4rem;
    }
  }

  @media screen and (min-width: $desktop) {
    order: 5;
    border-right: 1px solid $color-grey-1;
    flex: 0 0 50%;
    padding-right: 4.8rem;
  }
}

.hexagon {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .svg-text-mobile {
    display: inline-block;
  }
  .svg-text-desktop {
    display: none;
  }
  svg {
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    .svg-text-mobile {
      display: none;
    }
    .svg-text-desktop {
      display: inline-block;
    }
    svg {
      width: 50rem;
    }
  }

  @media screen and (min-width: $desktop) {
    svg {
      width: 60rem;
    }
  }
}

.email-me-form {
  max-width: 50rem;
  margin: 0 auto;

  h1 {
    margin-bottom: 3.2rem;
    text-align: center;
    font-size: 3.2rem;
    margin-top: 3.2rem;
    line-height: 3.6rem;
    font-family: "Soleto Bold", sans-serif;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  label {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-family: "Soleto Bold", sans-serif;
    display: flex;
    flex-direction: column;

    i {
      color: $color-grey-4;
      font-style: normal;
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-family: "Soleto", sans-serif;
    }
  }

  input {
    padding: 1.6rem;
    border: 1px solid $color-grey-6;
    font-size: 1.6rem;
    min-height: 5.6rem;
    margin-top: .5rem;
  }

  .navigation {
    display: flex;
    justify-content: center;
    margin-top: 3.2rem;
  }

  .label-error {
    font-size: 1.6rem;
    font-family: "Soleto", sans-serif;
    line-height: 1.5;
    color: $color-red;
    display: inline-block;
    margin-top: 0.5rem;
  }
}

.totals-wrapper {
  width: 100%;
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    background-color: $color-grey-2;
    box-shadow: 0 0 0 100vmax $color-grey-2;
    clip-path: inset(0 -100vmax);
    margin-bottom: 2rem;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .top-title {
    font-family: "Soleto Bold", sans-serif;
    font-size: 2.4rem;
    line-height: 1.33;
  }

  .top-subtitle {
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: center;
  }

  .totals-body-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }

  .totals-highlight {
    color: $color-orange;
    font-family: "Soleto Bold", sans-serif;
    font-size: 2.4rem;
    line-height: 1.33;
    letter-spacing: -0.02em;
    margin: 0 0;
  }

  .totals-body-heading {
    font-family: "Soleto Bold", sans-serif;
    font-size: 3.2rem;
    line-height: 1.125;
    letter-spacing: -0.02em;
    margin: 0 0 1rem;
  }

  .totals-subtitle {
    font-family: "Soleto Bold", sans-serif;
    font-size: 2.4rem;
    line-height: 1.33;
    letter-spacing: -0.02em;
    margin: 0 0 1rem;
  }

  .totals-body-text {
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0 0 1.6rem;
  }

  .totals-bottom {
    max-width: $totals-bottom-width;
    margin: 0 auto 2rem;
  }
  .totals-contact {
    background-color: $color-grey-2;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-block: 1.6rem;
    svg {
      margin-bottom: 1rem;
    }
  }

  .totlas-explore {
    background-color: $color-grey-2;
    padding: 2.4rem;
    svg {
      margin-bottom: 1rem;
    }
    .survey-card {
      background-color: $color-white;
    }
  }

  .totals-top-select {
    appearance: none;
    border: 2px solid $color-black;
    color: $color-black;
    font-family: "Soleto Bold", sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
    padding: .4rem 2.4rem .4rem 1.2rem;
    border-radius: 2rem;
    background-color: $color-white;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.71967 0.727806C1.01256 0.424065 1.48744 0.424065 1.78033 0.727806L6.5 5.62228L11.2197 0.727806C11.5126 0.424065 11.9874 0.424065 12.2803 0.727806C12.5732 1.03155 12.5732 1.52401 12.2803 1.82775L7.03033 7.27219C6.73744 7.57594 6.26256 7.57594 5.96967 7.27219L0.71967 1.82775C0.426777 1.52401 0.426777 1.03155 0.71967 0.727806Z' fill='%23181818'/%3E%3C/svg%3E%0A");
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: 1.2rem;
    &:hover, &:focus {
      box-shadow: inset 0 0 0 2px $color-black;
    }
  }
  @media screen and (min-width: $desktop) {
    .top {
      flex-direction: row;
      justify-content: space-between;
      box-shadow: none;
      margin-bottom: 4rem;
      margin-top: 4rem;
    }

    .info {
      text-align: left;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .totals-body-wrapper {
      border-block: 1px solid $color-grey-1;
      margin-bottom: 6rem;
    }
    .totals-body {
      display: flex;
      flex-direction: row-reverse;
      align-items: stretch;
    }

    .totals-body-info, .hexagon {
      flex: 0 0 50%;
    }

    .totals-body-info {
      border-right: 1px solid $color-grey-1;
      justify-content: center;
      padding-right: 4.8rem;
    }

    .totals-body-heading {
      font-size: 3.6rem;
      margin-bottom: 2rem;
    }

    .totals-bottom {
      margin-bottom: 5rem;
    }

    .totals-top-select {
      padding: .6rem 2.8rem .6rem 1.6rem;
    }
  }
}